@charset "UTF-8";

@media(max-width:1080px) {
    iframe{
        height: 500px;
        width:700px;
    }

    .passos{
        font-size: 20px;
    }

    .strong {
        font-size: 24px;
    }
}

@media(max-width:890px) {
    iframe{
        height: 400px;
        width: 600px;
    }

    .lista_passos{
        margin-top: 60px;
        margin-left: 30px;    
        margin-bottom: 40px;
    }

    .passos{
        font-size: 19px;
    }

    .desc_transf {
        font-size: 20px;
    }

    .strong {
        font-size: 23px;
}
}

@media(max-width:750px) {
    iframe{
        height: 300px;
        width: 500px;
    }

    .lista_passos{
        margin-top: 60px;
        margin-left: 20px;    
        margin-bottom: 40px;
    }

    .passos{
        font-size: 17px;
    }

    .desc_transf {
        font-size: 17px;
    }

    .strong {
        font-size: 19px;
    }
}

@media(max-width:580px) {
    iframe{
        height: 280px;
        width:460px;
    }
}

@media(max-width:487px) {
    iframe{
        height: 190px;
        width: 260px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #2828F4;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #f88f06;
    }   
}

@media(max-width:380px) {
    iframe{
        height: 200px;
        width:280px;
    }

    .strong {
        font-size: 16px;
    }
}

