@charset "UTF-8";

@media(max-width:1080px) {
    iframe{
        height: 500px;
        width:700px;
    }
}

@media(max-width:890px) {
    iframe{
        height: 400px;
        width: 600px;
    }

    .lista_passos{
        margin-top: 60px;
        margin-left: 30px;    
        margin-bottom: 40px;
    }

    .passos{
        font-size: 20px;
    }

    .desc_transf {
        font-size: 20px;
    }

    .strong {
        font-size: 23px;
}
}

@media(max-width:750px) {
    iframe{
        height: 300px;
        width: 500px;
    }

    .lista_passos{
        margin-top: 60px;
        margin-left: 20px;    
        margin-bottom: 40px;
    }

    .passos{
        font-size: 17px;
    }

    .desc_transf {
        font-size: 17px;
    }

    .strong {
        font-size: 20px;
    }
}

@media(max-width:580px) {
    iframe{
        height: 280px;
        width:460px;
    }
}

@media(max-width:380px) {
    iframe{
        height: 200px;
        width:280px;
    }
}
