@charset "UTF-8";

@media(max-width:890px) {
    iframe{
        height: 400px;
        width: 600px;
    }

    .lista_passos{
        margin-top: 60px;
        margin-left: 30px;    
        margin-bottom: 40px;
    }

    .passos{
        font-size: 20px;
    }

    .strong {
        font-size: 25px;
    3
}

@media(max-width:750px) {
    iframe{
        height: 300px;
        width: 500px;
    }

    .passos{
        font-size: 17x;
    }
}

@media(max-width:380px) {
    iframe{
        height: 200px;
        width:280px;
    }
}
